<div class="row">
    <div class="table-title">Orders List</div>
    <ngx-table [configuration]="configuration" #table [data]="tableData" class="custom-table" [columns]="columns">
        <ng-template let-row>
            <td *ngIf="role==='admin'">
                <span class="font-small">{{row.user_name}}</span>
            </td>
            <td>
                <span class="font-small">{{row.category}}</span>
            </td>
            <td>
                <span class="font-small">{{row.product}}</span>
            </td>
            <td>
                <span class="font-small">{{row.count}}</span>
            </td>
            <td>
                <span class="font-small">{{row.expected_delivery | date}}</span>
            </td>
            <td>
                <span class="font-small">{{row.first_name}} {{row.last_name}}</span>
            </td>
            <td>
                <span class="font-small">{{row.phone}}</span>
            </td>
            <td>
                <span class="font-small">{{row.address1}}, {{row.address2}}, {{row.pincode}}</span>
            </td>
            <td>
                <span class="font-small">
                    <i class="pi pi-pencil" (click)="editRow(row)"></i>
                </span>
                &nbsp;&nbsp;
                <span class="font-small">
                    <i class="pi pi-trash" (click)="confirm($event, row)"></i>
                </span>
            </td>
        </ng-template>
    </ngx-table>
</div>