.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
}

.header {
    place-content: center;
    justify-content: end;
    height: 100vh;
    background: #f4f4f4;
    background-image: url("../../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}